	html {
		background:navy;
	}

	div.bar {
		height:1.1em;
		font-size:0.9em;
		color:black;
		margin:auto;
		text-align:center;
		white-space:nowrap;
		padding-bottom:0.3em;
	}

	td {
		width:20%;
	}

	hr {
		background: black;
		height: 1.5px;
		box-shadow: 3px 3px;
	}
	
	#plabel {
		opacity: 0;
		border: 2px solid #DFDFDF;
		top: 0px;
		position: relative;
		margin-left: -0px;
		margin-top: 300px;
		background:#f8f8f8;
	}
	
	div.bar:hover #plabel {
	  opacity: 0.75;
	}
	
	
	div.box {
		border:3px solid black;
		background:white;
		overflow:hidden;
		box-shadow: 4px 4px gray;
		margin-bottom:5px;
	}

	body {
		margin-left:2%;
		margin-right:2%;
		font-family:verdana;
		padding:1em;
		background:#eee;
	}

	div.y {
		background:maroon;
	}

	div.a {
		background: #93a;
	}

	div.m {
		background:blue;
	}

	div.o {
		background:teal;
	}
	
	/* for mobile support */
	@media screen and (max-width: 1024px) {
	
		body {
			font-size: 220%;
		}
		
		button {
			font-size: 1em;
		}
		
		input {
			height:1.5em;
			font-size:1em;
			width:50%;
		}
		
		div.bar {
			font-size:70%;
		}
		
		#plabel {
			position:absolute;
			margin-top: 550px;
			text-align:center;
			margin-left: -9%;
		}
		
	}